version: '3.8'

services:
  traefik:
    image: traefik:v2.10
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker.swarmMode=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik-public"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--metrics.prometheus=true"
      # Dynamic config for certificates
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Mount self-signed certificates for local HTTPS access
      - /home/core/certs:/home/core/certs:ro
      # Mount Tailscale certificate directory for remote HTTPS access
      - /var/lib/tailscale/certs:/etc/traefik/certs:ro
    configs:
      - source: traefik_dynamic_config
        target: /etc/traefik/dynamic/certs.yml
    networks:
      - traefik-public
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=Host(`traefik.${LOCAL_DOMAIN:-local}`)"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.services.dashboard.loadbalancer.server.port=8080"

configs:
  traefik_dynamic_config:
    file: ./traefik-dynamic.yml

networks:
  traefik-public:
    driver: overlay
    name: traefik-public
    attachable: true
